body {
  padding: 0;
  margin: 0;
  height: 100vh;
  width: 100%;
  background: #07051a;
}
.charactercard {
  flex-direction: row;
}
.charactercard.card-title {
  font-weight: bold;
}
.charactercard.card img {
  width: 30%;
}
.breadcrumb {
  background: none;
}
.headerTitle {
  font-family: 'Bangers', cursive;
  font-size: 48pt;
  text-align: center;
}
.subHeader {
  font-family: 'Bangers', cursive;
  font-size: 48pt;
  color: white;
}
.jumbotron {
  height: max-content;
}

.comicCard:hover,
.comicCard:active {
  color: white;
  background-color: #ed462f;
  box-shadow: 0 1rem 2rem rgba(black, 0.4);
  transform: rotate(2deg) scale(1.2);
  padding: 2px;
  z-index: 10;
  /* -webkit-transform: rotate(5deg) scale(1.3); */
}

.comicCard a {
  text-decoration: none;
  color: black;
}
